<footer>
  <div class="container">
  <div class="col-sm-6">
    <h3 class="ftitle">GIỚI THIỆU CHUNG</h3>
    <p class="fdesc">Trang web vnmagic.net là nơi để chúng tôi có thể chia sẻ những kinh nghiệm trong quá trình sử dụng,
    với hi vọng rằng sẽ giúp được cho các bạn dễ dàng nắm bắt cách thức sử dụng các sản phẩm của Apple. Rất mong được sự ủng hộ từ các bạn .</p>
  </div>
  <div class="r-foot col-sm-6">
    <h3 class="ftitle">CÁC LIÊN KẾT</h3>
    <p>
      <a href="#"><img src="/images/facebook.png"></a>
      <a href="#"><img src="/images/google.png"></a>
      <a href="#"><img src="/images/twitter.png"></a>
      <a href="#"><img src="/images/youtube.png"></a>
    </p>
  </div>
    <div class="f-copy col-sm-12">Copyright <i class="fa fa-copyright"></i> 2016, được phát triển bởi VNMAGIC Team</div>
  </div>
</footer>

